		@model Room.DetailRoomViewModel
		<div class="table-data">
            <div class="data-set">
                <table class="data-roaster">
                    <tbody>
						<tr>
                            <td>Room Number</td>
                            <td>@Model.Number</td>
                        </tr>
                        <tr>
                            <td>Floor</td>
                            <td>@Model.Floor</td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>@Model.RoomType</td>
                        </tr>
                        <tr>
                            <td>Guest Limit</td>
                            <td>@Model.GuestLimit</td>
                        </tr>
                        <tr>
                            <td>Cost</td>
                            <td>@Model.Cost</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>@Model.Description</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a asp-action="AddResevation" asp-route-roomNumber="@Model.Number" class="btn reservation">Make Reservation</a>
                                <a asp-action="Index" class="btn cancle">Cancle</a>
                            </td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>