		@model Room.RoomDetailViewModel
		<div class="table-data">
			
			<div class="form-search">
                <table>
                    <tr>
                        <td>Room Number</td>
                        <td>: @Model.Number</td>
                    </tr>
                    <tr>
                        <td>Room Floor</td>
                        <td>: @Model.Floor</td>
                    </tr>
                    <tr>
                        <td>Room Type</td>
                        <td>: @Model.RoomType</td>
                    </tr>
                    <tr>
                        <td>Guest Limit</td>
                        <td>: @Model.GuestLimit</td>
                    </tr>
                </table>
            </div>   

            <div class="data-set">
                <div class="button-add">
                    <a href="#" class="create-button" roomNumber="@Model.Number">Add new Item</a>
                </div>
                <table class="data">
                    <thead>
                        <th>Action</th>
                        <th>Inventory</th>
                        <th>Stock</th>
                        <th>Quantity</th>
                    </thead>
                    <tbody>
						@foreach(var item in Model.RoomInventories){
                            if(item == null){
                                <tr>
                                    <td colspan="4">
                                        <p>Opps, Inventory is Empty</p>
                                    </td>
                                </tr>
                            }else{
                                <tr>
                                    <td>
                                        <a href="#" class="button delete" nameInventory="@item.Id">Remove</a>
                                    </td>
                                    <td>@item.InventoryName</td>
                                    <td>@item.Stock</td>
                                    <td>@item.Quantity</td>
                                </tr>
                            }
						}
                    </tbody>
                    @* <tfoot>
                        <tr>
                            <td colspan="7">
                                <div class="pagination">
                                    <div>Page @Model.Paginations.PageNumber of @Model.Paginations.TotalPages </div>
                                        <div>
											@for(int pageNumber=1 ; pageNumber<=Model.Paginations.TotalPages; pageNumber++){
                                            	<a  asp-action="Index" asp-route-pageNumber="@pageNumber" asp-route-roomType="@Model.RoomType"  class="number"> @pageNumber </a>
											}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot> *@
                </table>
            </div>
        </div>

        <div class="modal-layer">
            <div class="input-update">
                <form method="post" class="upsert-form" action="">
                    <h3>Add Room Inventory</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" name="roomNumber">
                                </td>
                            </tr>
                            <tr>
                                <td><label>Insert Inventory</label></td>
                                <td>
                                    <select>
                                        
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Quantity</label></td>
                                <td>
                                    <input type="number" name="stock" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="insert modal-button" >Simpan</button>
                    <button class="update modal-button">Ubah</button>
                    <button type="button" class="cancle modal-button">Batal</button>
                </form>
            </div>
        </div>


        <div class="modal-layer confirmation-delete">
            <div class="confirmtion-delete">
                <h2>Delete Inventroy</h2>
                <h3>Are You sure for delete this Inventory?</h3>
                <div class="button-class">
                    <button class="yes-button" type="submit">Delete</button>
                    <button class="no-button" type="submit">Cancel</button>
                </div>
            </div>
        </div>
        <script src="~/JS/roomInventory.js"></script>